- if position.errors.any?
  %p
    %strong Please correct the following errors:
    %ul
      - position.errors.full_messages.each do |message|
        %li= message

%form{action: action, method: 'post'}
  .form-group
    %label Name
    %input{type: 'text', name: 'name', value: position.name, class: 'form-control'}
  .form-group
    %label Description
    %input{type: 'text', name: 'description', value: position.description, class: 'form-control'}
  %button{type: 'submit', class: 'btn btn-primary'} Save
